<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
  <head>
    <title>スキル登録</title>
    <link th:remove="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
    <link th:remove="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" />

    <script type="text/javascript">
//<![CDATA[

window.onload = function() {
    this.addLicenseForm();
    this.addCareerForm();
};

var licenseNum = 0;
function addLicenseForm() {
    var select = document.createElement('select');
    this.licenseNum++;

    var option0 = document.createElement("option");
    option0.setAttribute("value", "0");
    option0.appendChild( document.createTextNode("基本情報") );

    var option1 = document.createElement("option");
    option1.setAttribute("value", "1");
    option1.appendChild( document.createTextNode("応用情報") );

    var option2 = document.createElement("option");
    option2.setAttribute("value", "2");
    option2.appendChild( document.createTextNode("Javaプログラマ") );

    select.setAttribute( "name", "license" + licenseNum);
    select.setAttribute( "id", "license" + licenseNum);
    select.appendChild(option0);
    select.appendChild(option1);
    select.appendChild(option2);

    document.getElementById('licenseForm').appendChild(select);

    // <br />を追加
    document.getElementById('licenseForm').appendChild(document.createElement("br"));
/*
    document.registSkill.btnSampleDel.disabled = false;
    if(this.SampleNum >= 5) {
        document.registSkill.btnLicenseFormAdd.disabled = true;
    }
*/
    // ロード時の処理（削除ボタンの無効化）
    if(this.SampleNum == 1) {
        document.registSkill.btnSampleDel.disabled = true;
    }
}

var careerNum = 0;
function addCareerForm() {
    var textarea = document.createElement('textarea');
    this.careerNum++;
    textarea.setAttribute( "name", "career" + careerNum);
    textarea.setAttribute( "id", "career" + careerNum);
    textarea.setAttribute( "rows", "8");
    textarea.setAttribute( "cols", "80");

    document.getElementById('careerForm').appendChild(textarea);
    // <br />を追加
    document.getElementById('careerForm').appendChild(document.createElement("br"));
}
//]]>
    </script>

  </head>
  <body>
  <div layout:fragment="content" class="col-sm-12">

    <table class="table table-striped table-bordered table-condensed">
      <form name="registSkill" th:action="@{/assign/registskill}" th:object="${registskillForm}" class="form-horizontal" method="post">
      <tbody>
        <tr>
          <td>保有資格</td>
          <td>
            <div id="licenseForm"></div>
            <button type="button" id="btnLicenseFormAdd" value="追加" onclick="addLicenseForm()"><span class="glyphicon glyphicon-plus"></span></button>
          </td>
        </tr>
        <tr>
          <td>業務経験</td>
          <td>
            <div id="careerForm"></div>
            <button type="button" id="btnCareerFormAdd" value="追加" onclick="addCareerForm()"><span class="glyphicon glyphicon-plus"></span></button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-right">
            <button type="button" class="btn btn-lg btn-primary">Primary</button>
          </td>
        </tr>
      </tbody>
      </form>
    </table>

  </div>
  </body>
</html>