<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>スキル検索</title>
</head>
<body>
<div layout:fragment="content" class="col-sm-12">
スキル検索

 		<label for="selection">Selection1:</label>
    	<select id="selection_p" class="form-control">
      		<option>AAA</option>
      		<option>BBB</option>
    	</select>

		<label for="selection">Selection2:</label>
    	<select id="selection_c" class="form-control">
      		<option>CCC</option>
      		<option>DDD</option>
    	</select>


</div>

</body>
</html>